/* ==========================================================================
   Cloud Bits - A GitHub Theme
   author: Rodolfo Caldeira me@rodolfocaldeira.com
   ========================================================================== */

@import "fonts/homestead/_style";
@import "_style-variables";
@import "_style-normalize";
@import "_style-pygments";


/* ==========================================================================
Base
========================================================================== */

body {
    background: url(../img/bg/bg-skewed-print.png) repeat $colorGray;
    font-family: $fontGeorgia;
    padding: 0 2.5%;

    @media only screen and (max-width: 480px) {
        background: none;
        padding: 0;
        width: 100%;
    }
}

a,
a:visited {
    color: $colorGreen;
    text-decoration: none;
}

a:hover {
    color: darken($colorGreen, 10%);
}

ul, ol {
    padding: 0 0 0 5%;
}

ul li {
    padding-bottom: 0.5em;
}

blockquote {
    border-left: 10px solid $colorGreen;
    margin: 0;
    padding-left: 5%;
}

hr {
    border: 0;
    border-bottom: 1px solid lighten($colorGray, 40%);
}

hr.is-cloud {
    border: 0;
    height: 5px;
    background: url(../img/bg/bg-cloud-impressions.png) repeat-x;
    width: 100%;
    margin: 0;
}

@media only screen and (max-width: 480px) {
    pre, code, kbd, samp {
        font-size: 0.9em;
    }
}

/* ==========================================================================
Layout
========================================================================== */

.container {
    width: 100%;
    max-width: 799px;
    margin: 0 auto;
    background-color: $colorWhite;
    padding: 0 0 2em 0;

}

/* ==========================================================================
Modules
========================================================================== */

.hero {
    margin-bottom: 2em;
    background: url(../img/bg/bg-header-subtle.jpg) no-repeat left  top #fff;
}


.logo {
    margin-left: 5%;

    h1 {
        font-size: 30em;
        @include mFontHomesteadInline;
        text-align: center;
        margin: 0;
        line-height: 1em;

        // when the viewport is less then 480px
        @media only screen and (max-width: 480px) {
            font-size: 25em;
            line-height: 0.8em;
            padding-top: 0.1em;
        }

        a {
            color: $colorWhite;
        }
    }
}

nav {
    margin: 1em 0 1em;
    padding-bottom: 3em;

    ul {
        text-align: center;

        li {
            padding: 0 0.3em;
            display: inline;

            a, a:link, a:visited {
                @include animate(all, 0.5s);
                display: inline-block;
                padding: 0.1em 0.5em;
                margin-bottom: 0.3em;

                @include mFontHomesteadInline;
                color: $colorWhite;
                text-transform: uppercase;
                text-decoration: none;
                font-size: 1.5em;
            }

            a:hover {
                color: darken($colorGreen, 10%) !important;
            }
        }
    }
}

article {
    font-family: $fontGeorgia;
    margin: 20% 10% 30% 10%;

    @media only screen and (max-width: 480px) {
        margin: 20% 5% 30% 5%;
    }

    header {
        margin: 0;

        h1, h2 {
            @include mFontHomesteadRegular;
            font-size: 3em;
            line-height: 1em;

            @media only screen and (max-width: 480px) {
                font-size: 2em;
            }

            a {
                color: $colorBlack !important;

                &:hover {
                    color: darken($colorGreen, 10%) !important;
                }
            }
        }
    }

    p {
        font-size: 1.8em;
        line-height: 1.5em;
        color: $colorGray;

        @media only screen and (max-width: 480px) {
            font-size: 1.5em;
            font-size: 1.5em;
        }
    }

    ul {
        color: $colorGray;
        font-size: 1.6em;

        @media only screen and (max-width: 480px) {
            font-size: 1.3em;
            margin-left: 5%;
        }
    }

    footer {
        text-align: left;
        margin: 0;
        time {
            color: $colorGreen;
            @include mFontHomesteadRegular;
            font-size: 1.5em;

            @media only screen and (max-width: 480px) {
                font-size: 1.2em;
            }
        }
    }

    img,
    iframe {
        width: 100%;
    }

    iframe.is-youtube {
        height: 400px;
    }

    p.is-rate {
        font-size: 2em;
        text-align: center;
    }

    &.l-expanded {
        margin: 25% 0 25% 0;

        h1, h2 {
            @include mFontHomesteadRegular;
            font-size: 4em;
            line-height: 1em;
            text-align: left;

            @media only screen and (max-width: 480px) {
                font-size: 2em;
            }
        }

        header, p, footer {
            margin-left: 10%;
            margin-right: 10%;

            @media only screen and (max-width: 480px) {
                margin-left: 5%;
                margin-right: 5%;
            }
        }

        p {
            color: $colorGray;
        }
    }

    &.l-highlight {
        margin: 10% 0 25% 0;
        background-color: $colorGreen;
        padding: 10%;
        color: $colorWhite;

        @media only screen and (max-width: 480px) {
            padding: 5% 5% 15% 5%;
        }

        h1, h2 {
            @include mFontHomesteadRegular;
            font-size: 3em;
            line-height: 1em;
            text-align: left;
        }

        p {
            color: $colorWhite;
        }

        time {
            color: lighten($colorGreen, 40%);
        }
    }

    .l-2-col {
        -webkit-column-count: 2;
        -webkit-column-gap: 10%;
        -moz-column-count: 2;
        -moz-column-gap: 10%;
        column-count: 2;
        column-gap: 10%;

        p:first-child {
            margin-top: 0;
        }

        @media only screen and (max-width: 480px) {
            -webkit-column-count: 1;
            column-count: 1;
        }
    }

    &.is-about-me {

        h2 {
            font-size: 3em;
        }

        p {
            color: darken($colorGray, 10%);
            font-size: 2.3em;
            line-height: 1.6em;

            @media only screen and (max-width: 480px) {
                font-size: 1.5em;
            }

        }
    }
}

footer {
    margin: 10%;
    text-align: center;
    font-family: $fontGeorgia;
}